<%- include("main/top") %>
<section class="post_banner">
    <div class="container">
        <h2><%= title %></h2>
    </div>
</section>
<section class="secondary">
    <div class="row">
        <div class="col"><%- body %></div>
    </div>
</section>
<%- include("main/bottom") %>
