<%- include("../templates/main/top") %>
<div class="row">
    <div class="col" style="text-align: center">
        <h1 style="font-weight: 400">Whoops I think you were looking for something else...</h1>
        <h1 style="font-size: 10em; opacity: 0.2">404</h1>
    </div>
</div>
<%- include("../templates/main/bottom") %>
