            </div>
            <footer id="footer">
                <div class="row small">
                    <div class="col footerflex">
                        <div class="left" style="flex-grow: 2">
                            &copy; <%= copyright %> <a href="http://trixie.loneless.org">TrixieBot</a> and <a href="http://loneless.org">Christian Schäfer</a>.
                            All rights reserved. <br />
                            TrixieBot is not affiliated with either Hasbro or DHX. All data given without guarantee.
                        </div>
                        <div class="right" style="flex-grow: 1; text-align: right">
                            <!-- &#9829; -->
                            Crafted with <div class="heart icon-heart"></div> in Germany.
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div id="fadeout" onclick="closeMenu()"></div>

        <div id="menu" class="spacing400">
        <div class="top">
            <svg width="24" height="24" onclick="closeMenu()" style="float: right; cursor: pointer">
                <g style="stroke-width: 2px; stroke: white">
                    <path d="M0 0 L24 24" />
                    <path d="M0 24 L24 0" />
                </g>
            </svg>
        </div>
        <nav>
            <a href="/"><li>Home</li></a>
            <a href="/dashboard"><li>Dashbord</li></a>
            <a href="/commands"><li>Commands</li></a>
            <a href="/faq"><li>FAQ</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/status"><li>Status</li></a>
            <a href="/#changelog"><li>Changelog</li></a>
        </nav>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>
